*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
  }
  body.blurred {
    overflow: hidden;
  }
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  /* CSS for the sidebar */
  .pro-list {
    list-style: none;
    padding: 0;
  }
  
  .pro-item {
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 10px;
    padding: 10px;
  }
  
  .pro-info {
    display: flex;
  }
  
  .pro-info img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
  }
  
  .pro-details {
    display: flex;
    flex-direction: column;
  }
  
  .pro-name {
    font-weight: bold;
  }
  
  .pro-price {
    font-weight: bold;
  }
  
  .pro-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pro-icons img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
  }
  
  .pro-quantity {
    display: flex;
    align-items: center;
  }
  .pro-payment-method {
    background: rgba(105, 105, 105, 0.452);
    color: #fff;
    text-align: center;
    width: 62%;
    padding: 6px;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
  }
  
  .quantity-control {
    cursor: pointer;
    background: yellow;
    padding: 5px;
    width: 20px;
    text-align: center;
  
    border-radius: 50%;
    font-weight: bold;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .quantity-value {
    font-weight: bold;
  }
  .sidebar .more-dtl {
    text-decoration: none;
    color: white;
    background: linear-gradient(
      0deg,
      rgb(253, 139, 45) 0%,
      rgb(226, 102, 0) 100%
    );
    border-radius: 16px;
    /* align-items: center; */
    padding: 12px;
    display: flex;
    justify-content: center;
  
    margin: 29px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
  .sidebar {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 999;
  }
  
  .cart-header {
    display: grid;
    grid-template-columns: 95% 12%;
    background: linear-gradient(
      0deg,
      rgb(253, 139, 45) 0%,
      rgb(226, 102, 0) 100%
    );
  }
  
  .cart-header h2 {
    color: #fcefef;
    font-size: 28px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .cart-content {
    padding: 20px;
  }
  #cart-items li {
    list-style: none;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
  
    cursor: pointer;
  }
  
  /*page index*/
  #clickToShowList {
    display: none;
    border: none;
    padding: 12px;
    width: 40%;
    border-radius: 15px;
    margin-bottom: 12px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  #clickToShowList:hover {
    background: linear-gradient(
      0deg,
      rgb(253, 139, 45) 0%,
      rgb(226, 102, 0) 100%
    );
    padding: 15px;
  }
  /*header for all pages*/
  header{
    align-items: center;
    justify-content: space-between;
    height: 100px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .navOpenBtn,
   .navCloseBtn {
    display: none;
   font-size: 30px;}
  
  .search{
    display: flex;
    align-items: center;
  }
   .search a img{
    width: 103px;
  }
  div a input{
    width: 700px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #b3b4b6 ;
    border-radius: 8px;
    color: #94A3B8;
    padding-left: 10px;
   
  }
  div input::placeholder{
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  div input:focus{
    outline: none;
  }
  
  header .menu ul{
    display: flex;
    align-items: center;
    gap: 20px;
  }
   .menu ul img{
    width: 60px;
  }
   .menu ul .store{
    width: 40px;
  }
   .menu ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    color: #334155;
  }
   .menu ul li a{
    color: #334155;
    text-decoration: none;
  }
  .border-left{
    border-left: 2px solid #334155;
    padding-left: 20px;
  }
  footer{
    background: #334155;
    height: 100px;
  }
  footer  ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
    gap: 100px;
    margin-bottom: 17px;
  }
  footer  ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  footer .edition{
    text-align: center;
    width: 100%;
    color: #94A3B8;
    position: relative;
    bottom: 20px;
  }
  .contact {
display: grid;
   margin: 25px;
   grid-template-columns: 57% 41%;

    
}
form button{
    width: 100%;
   padding: 12px;
   color: white;
   background-color: rgb(255, 166, 0);
   border: none;
   border-radius:11px ;
   -webkit-border-radius:11px ;
   -moz-border-radius:11px ;
   -ms-border-radius:11px ;
   -o-border-radius:11px ;
   transform: matrix3d(12deg);
   -webkit-transform: matrix3d(12deg);
   -moz-transform: matrix3d(12deg);
   -ms-transform: matrix3d(12deg);
   -o-transform: matrix3d(12deg);
}
main h1{
    text-align: center;
    margin-top: 20px;
    color: #585858;
    font-family:'Times New Roman', Times, serif;
}

div {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
textarea {
    width: 100%;
    padding: 14px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

textarea {
    height: 150px;
    color: #727272;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    
}
 @media (max-width: 768px) {
    header .search {
        display: none;
    }
  
    header nav {
        left: -100%;
        max-width: 100%;
        padding-top: 0;
    }
  
    nav ul {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: rgb(255, 136, 0);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }
  
    nav.openNav ul {
        right: 0;
    }
  
    nav .navOpenBtn {
        display: block;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
  
    nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .navOpenBtn,
    .navCloseBtn {
      display: block;
    }
    .border-left{
        border-left:none;
      }
    .contact {
        
       grid-template-columns: 100%;
    
        
    }
  }
  
    