*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
/*header for all pages*/
header{
  align-items: center;
  justify-content: space-between;
  height: 100px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.search{
  display: flex;
  align-items: center;
}
 .search a img{
  width: 103px;
}
div a input{
  width: 700px;
  height: 50px;
  margin-left: 20px;
  border: 1px solid #b3b4b6 ;
  border-radius: 8px;
  color: #94A3B8;
  padding-left: 10px;
 
}
div input::placeholder{
  font-size: medium;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div input:focus{
  outline: none;
}

header .menu ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
 .menu ul img{
  width: 60px;
}
 .menu ul .store{
  width: 40px;
}
 .menu ul li{
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  color: #334155;
}
 .menu ul li a{
  color: #334155;
  text-decoration: none;
}
.border-left{
  border-left: 2px solid #334155;
  padding-left: 20px;
}
/*page index*/
.products-type{
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 23% 70%;
}
.products-type  img{
  width: 25px;
  color: #334155;
  margin-right:20px;
}
.products-type  ul {
  border-radius: 10px;
}
.products-type  ul li{
  color: #707070;
  list-style: none;
  padding: 21px 20px;
  border-bottom:  1px solid #e2e1e1;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.products-type  ul li a{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 5px ;
  color: #94A3B8;
  text-decoration: none;
}
.products-type .slide{
  margin-left: 50px;
}
.products-type .slide img{
  width: 100%;
}
.pic{
  width: 12px;
}
.drop-price{
  left: 90px;
  bottom: 19px;
  rotate: -15deg;
  width: 65px;
  height: 2px;
  background-color: rgb(238, 99, 99);
  position: relative;
}
.list-products .desc{
  background-color: #f7f7f7c4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
   rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 8px;
  color: #475569;
  font-family: Arial, Helvetica, sans-serif;
  padding:20px 10px;
}
.list-products .desc .add-pro{
  width: 30px;
  background-color: #fab115;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.price {
  gap: 80px;
}
.list-products .desc span{
  font-weight: bold;
  font-size: 30px;
  color: #334155;
}
.list-products .desc .chiffre{
  color: #64748B;
  font-size: 20px;
  padding: 10px 0;
}
.list-products .desc p{
  color: #475569;
  font-family: Arial, Helvetica, sans-serif;
}
.list-products .desc img{
  width: 30%;
}
.list-products .product img{
  width: 100%;
  position: relative;
  top: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.list-products{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 10px 50px;
  place-items: center;
}

.list-products .info-product{
  width: 90%;
  margin-bottom: 50px;
}
h2{
  color: #334155;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 50px 0 50px;
  font-size: 40px;
}
.list-products .star{
  width: 25%;
  background-color: #fab115;
  display: flex;
  align-items: center;
  gap: 1px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
}
.list-products .star span{
  color: white;
  font-size: 20px;
}
.list-products .star-content{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.list-products .content-product .sold{
  border-left:1px solid rgba(0, 0, 0, 0.219);
  padding-left: 20px;
  color: #f84343fd;
  font-size: 20px;
}
 
.paginate{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin-bottom: 30px;
}
.paginate .circle{
  width: 30px;
  height: 30px;
  background: #dfdfdf;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 50%;  
}
/*footer for all page */
footer{
  background: #334155;
  height: 100px;
}
footer  ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px;
  gap: 100px;
  margin-bottom: 17px;
}
footer  ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
footer .edition{
  text-align: center;
  width: 100%;
  color: #94A3B8;
  position: relative;
  bottom: 20px;
}

.container{
  display: grid;
  grid-template-columns: 15% 85%;
  margin: 20px 50px;
}
aside h3{
  font-size: 25px;
  color: #334155;
}
aside .filter  ul li{
  list-style: none;
  font-size: 20px;
  margin: 15px 0;
  color: #334155;
}

aside .range{
  width: 200px;
}
input[type="range"] {
  accent-color: #fad815;
  background-color: yellow;
  outline:none;
  border: none;
}

aside .list_star {
  position: relative;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

.content-product{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

  input[type="checkbox"] {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  width: 23px; 
  height: 23px;
  background-color: white;
  border: 2px solid #3cb306; border-radius: 3px; 
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  background-color: #19b90b;
  display: block;
  width: 20px; 
  height: 20px;
  font-size: 16px; 
  line-height: 20px;
  text-align: center;
  color: rgb(244, 247, 243); 
}

/*head of page products*/
.product-section{
  font-family: Arial, Helvetica, sans-serif;

}
.product-section .searching{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searching h3 span{
  color: rgb(250, 185, 64)   ;
}
.product-section .searching h3{
  color: #334155 ;
  margin-left: 56px;
}
.product-section .sorting{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #4e4e4e;
}
.select_sort select{
  width: 180px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    background-color: #E6E6E6;
    color: #8d8d8d;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px;
    border: none;
  
}
/*detail page*/
.produit-detail{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 50px;
  grid-column-gap: 40px;
}
 .detail_image  img{
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.all_image{
  display: flex;
  gap: 40px;
  margin-top: 10px;
}
.all_image img{
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.detail-desc h4{
  color: #686868;
  font-family:Arial, Helvetica, sans-serif;

}
.produit-detail .star_detail{
  width: 15%;
  height: 20px;
  background-color: #FACC15;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
  margin-top: 10px;
}
.produit-detail .star_detail img{
  width: 28px;
}
.star-cont{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.star_detail span{
  color: white;
  font-size: 20px;
}
.remise{
  border-left:1px solid rgba(0, 0, 0, 0.219);
  padding-left: 20px;
  color: #f84343fd;
  font-size: 20px;
  font-family:cursive;
  font-weight: bolder;
}
.description-pro{
  color: #9e9e9e;
  font-size: 23px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.more-option h3{
  font-size: 25px;
  background-color: #FACC15;
  color: #ffffff;
  border-radius: 40px;
  padding: 4px;
  position: absolute;
  right:0;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
h4{
  font-size: 25px; 
  margin-top: 10px;
}
.more-option{
  position: relative;
}
.produit-detail .more-option{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-top: 10px
}
.produit-detail .heart{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
  background-color: #FACC15;
  padding: 8px;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
  -webkit-border-radius:30px;
  position: relative;
 
}
 .sizes{
  display: flex;
  gap: 20px;
}
.sizes .size{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #64748B;
  margin-top: 10px;
  width: 50px;
  height: 40px;
  border: 1px solid #dddddd;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.colors{
  display: flex;
  gap: 20px;
}
.colors .color{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
}
/*aside details*/
.more{
  background: #f7f5f5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #475569 ;
  height: 92%;
  margin: 0 0 0 70px;
  border-radius: 8px;
}
.more .adresse{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid #c2c2c2;
  font-size: 20px;
}
.more .shipping{
  padding: 20px 10px;
  border-bottom: 1px solid #c2c2c2;
  font-size: 20px;
}
.more .acr-pro{
  display:flex;
  gap: 6px;
  margin-top: 20px;
}
.more .positive:first-child{
  text-align: center;
  width: 30px;
  height: 28px;
  color: white;
  padding-top: 3px;
  border-radius: 50%;
  background: rgb(155, 156, 156);
  cursor: pointer;
}
.more span{
  padding-top: 4px;
}
.more .positive:last-child{
  text-align: center;
  width: 30px;
  height: 25px;
  color: white;
  padding-top: 3px;
  border-radius: 50%;
  background:#FACC15;
  cursor: pointer;
}

.more .btns{
  display: grid;
  grid-template-columns: 100%;
  margin: 10px;
}
.more .button1{
  height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgba(0, 128, 0, 0.582);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: none;
  color: white;
  font-size: 20px;
}
.more .button2{
  height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  border:1px solid  rgba(0, 128, 0, 0.582);
  background-color: transparent;
  color: rgba(0, 128, 0, 0.582);
  font-size: 20px;
}
.more .sharing{
  display: flex;
  justify-content: space-around;
  margin: 10px 30px;
  cursor: pointer;
}
.sharing img{
  width: 25px;    
}
.sharing .share span{
  color: #475569;
  font-size: 20px;
}
.sharing .share{
  display: flex;
  align-items: center;
  gap: 10px;
}
.desc-pro{
  margin: 10px 50px;
  border-top: 1px solid rgb(185, 185, 185);
}
.desc-pro h3{
  font-size: 23px; 
  color: #334155;
  margin: 10px 0;
}
.desc-pro p{
  font-size: 20px; 
  color: #334155;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin: 10px 0;
}
.desc-pro .sous-desc{
  display: flex;
  justify-content: space-between;
}
.sous-desc img{
  width: 27%;
  margin-right:64px ;
 
}
/*review*/
.review{
  border-bottom: 1px solid rgb(185, 185, 185);
}
.review-detail{
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 0 70px;
}

.review h3{
 font-size: 23px; 
  color: #334155;
  margin: 10px 0;
  margin: 20px  50px;
}
.review .stars_review {
  display: flex;
    align-items: center;
    gap: 33px;
    background-color: #FACC15;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding: 7px;
    border-radius: 38px;
    margin-top: 12px;
}
.stars_review .stars img{
  width: 30px;
}
.star_rang {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
 .star-rang-content{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.star_rang .range-color{
  background-color: #FACC15DB;
  border: #FACC15DB 1px solid;
  height: 9px;
  border-radius: 30px;
  margin-left: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.star_rang .range-bg{
  border: #d8d8d8 1px solid;
  height: 9px;
  width: 20px;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 10px;
}
/*avatars*/
.profil-user {
  margin-left: 70px;
  border-left: #e2e2e2 1px solid;
  padding-left: 30px;
}
.profil-user  .user{
  margin-bottom: 10px;
  
}
.profil-user .user-info{
  display: flex;
  justify-content: space-between;
}
.profil-user .user-info .user-pic{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #707070;
  margin-right: 10px;
  margin-bottom: 19px;

}
.name{
  display: block; 
  margin-bottom: 11px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color:#4e4e4e;
}
.date{
  color: #a0a0a0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.profil-user .user_review img{
  width: 31px;
}


/*paniee*/
.table-panier{
  margin-right: 40px;
  
}
.panier{
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 75% 30%;
  margin: 90px 40px;
  gap: 30px;
}
.border-bottom{
  border-bottom:1px solid #e4e3e3;
}
.first-select{
  margin-left: 17px;
    padding: 13px;
  }
  .produit_selected{
    display: grid;
    grid-template-columns: 70% 16%;
    justify-content: space-between;
    margin: 20px 0 20px 20px;
  }
input[type="checkbox"] {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  width: 23px; 
  height: 23px;
  background-color: white;
  border: 2px solid #3cb306; border-radius: 3px; 
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  background-color: #19b90b;
  display: block;
  width: 20px; 
  height: 20px;
  font-size: 16px; 
  line-height: 20px;
  text-align: center;
  color: rgb(244, 247, 243); 
}
.btn-container{
  position: relative;
  margin-bottom: 67px;
  padding-top: 11px;
}
.nm{
  font-size: x-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: rgb(65, 64, 64);
}
.btn{
  position: absolute;
  background-color: #9e9e9e;
  margin-bottom: 12px;
  color: #e4e4e4;
  border-radius: 20px;
  font-size: medium;
  padding: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.mont{
  padding: 12px;
  position: absolute;
  font-weight: bolder;
  color: #535353;
  padding-top: 34px;
  font-size: 20px;
}
.react{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-panier img{
  margin: 7px;
 
}
.panier-list, .pay-method{
  border: #e6e5e5 1px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
}

.prd_image img{
  width: 15%;
  border-radius: 6px;
}


.prd_image{
  display: flex;
  gap: 20px;
  align-items: center;
}



 
.panier .count-pro{
  display:flex;
  gap: 6px;
  margin-top: 20px;
}
.count-pro .count{
  text-align: center;
    width: 35px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    height: 22px;
    padding-bottom: 8px;
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
  
}
.count-pro .count-2{
  text-align: center;
    width: 35px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    height: 22px;
    padding-bottom: 8px;
    border-radius: 50%;
  background-color:rgb(255, 238, 0)
         
}
.panier span{
  padding-top: 6px;
}



.pay-method h3{
  font-size: 25px;
  color: #334155;
  font-weight: bold;
  margin: 20px;
}
.pay-method div{
  display: flex;
  justify-content: space-between;
  color: #64748B;
  font-size: 20px;
  margin: 20px;
}

.pay-method button{
  width: 94%;
  border-radius: 8px;
  height: 40px;
  background-color: #54d334;
  color: white;
  font-weight: bold;
  margin: 8px;
  border: none;
  font-size: 20px;
}






